# Home Lab Secrets Example.

# ── Proxmox ───────────────────────────────────────────────────────────────────
export TF_VAR_proxmox_endpoint="REDACTED"
export TF_VAR_proxmox_api_token='REDACTED'

# ── SSH ────────────────────────────────────────────────────────────────────────
export TF_VAR_ssh_public_key="REDACTED"
export TF_VAR_ssh_private_key_path="REDACTED"
export ANSIBLE_PRIVATE_KEY_FILE="REDACTED"

# ── k3s ───────────────────────────────────────────────────────────────────────
export K3S_TOKEN="REDACTED"

# ── AWS ───────────────────────────────────────────────────────────────────────
export CERT_EMAIL="REDACTED"
export ROUTE53_ZONE_ID="REDACTED"
export AWS_ACCESS_KEY_ID="REDACTED"
export AWS_SECRET_ACCESS_KEY="REDACTED"
export AWS_DEFAULT_REGION="REDACTED"

# ── Vault Warden ──────────────────────────────────────────────────────────────────────
# Managed as a k3s secret — not sourced from here
# VAULT_WARDEN_ADMIN_TOKEN="REDACTED"

# ── Immich ─────────────────────────────────────────────────────────────────────
# Managed as a k3s secret — not sourced from here
# DB_PASSWORD_POSTGRES="REDACTED"
# DB_USERNAME_POSTGRES="REDACTED"

# ── Mealie ─────────────────────────────────────────────────────────────────────
# Managed as a k3s secret — not sourced from here
# POSTGRES_USER="REDACTED"
# POSTGRES_PASSWORD="REDACTED"