# AdGuard Exporter - place this file at ansible/env/adguardhome-exporter.env (gitignored)
# https://github.com/henrywhitaker3/adguard-exporter

ADGUARD_PROTOCOL=http
ADGUARD_HOSTNAME=adguardhome
ADGUARD_PORT=80
ADGUARD_USERNAME=admin
ADGUARD_PASSWORD=changeme
