services:
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      TZ: America/Denver
      GF_SECURITY_ADMIN_PASSWORD: ${GF_SECURITY_ADMIN_PASSWORD} 
      GF_USERS_ALLOW_SIGN_UP: "false"
    volumes:
      - /srv/grafana/data:/var/lib/grafana
      - /srv/grafana/logs:/var/log/grafana
      - /srv/grafana/plugins:/var/lib/grafana/plugins
    networks:
      - proxy

networks:
  proxy:
    external: true