services:
  homepage:
    image: nginx:alpine
    container_name: homepage
    volumes:
      - /srv/homepage:/usr/share/nginx/html:ro
    restart: unless-stopped
    environment:
      - TZ=America/Denver
    networks:
      - proxy
      
networks:
  proxy:
    external: true
      