services:
  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    restart: unless-stopped
    ports:
      - "8096:8096"
      - "7359:7359"
    environment:
      TZ: America/Denver
      JELLYFIN_FFMPEG: /usr/lib/jellyfin-ffmpeg/ffmpeg
    volumes:
      - /srv/jellyfin/config:/config
      - /srv/jellyfin/cache:/cache
      - /srv/jellyfin/media:/media
    networks:
      - proxy

networks:
  proxy:
    external: true