services:
  mealie:
    image: ghcr.io/mealie-recipes/mealie:latest
    container_name: mealie
    restart: unless-stopped
    depends_on:
      - postgres
    environment:
      TZ: America/Denver
      BASE_URL: https://mealie.kds-dev.com
      DB_ENGINE: postgres
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_SERVER: postgres
      POSTGRES_PORT: 5432
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - /srv/mealie/data:/app/data
    networks:
      - proxy

  postgres:
    image: postgres:15
    container_name: mealie-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - /srv/mealie/postgres:/var/lib/postgresql/data
    networks:
      - proxy

networks:
  proxy:
    external: true